
<%= render :partial => 'partials/header', locals: { screen_name: 'Categories' } %>
<%= render :partial => 'partials/notification' %>
    
<h1 class="budgets">Budget Categories</h1>

<div class="cat-container">
  <% @categories.each do |cat|  %>
    <%= link_to user_category_entities_path(:category_id => cat.id), :class => 'cat-item' do %>
      <div class="cat">
        <%= image_tag "#{cat.icon}", :class => "avatar" %>
        
        <div class="time cong">
          <p class="cat-name"><%= cat.name %></p>
          <p class="cat-tot">Total: $<%= cat.total_transaction.to_s.gsub(/\B(?=(...)*\b)/, ',') %></p>
       
        </div>

        <div class="time">
          <p class="cat-item"><%= cat.created_at.localtime.to_s[0, 10] %></p>
          <p class="cat-item"><%= cat.created_at.localtime.to_s[11..19] %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

 <div class="btn-container">
 <button class="btn btn-primary btn-center"><%= link_to "Add a new category", new_user_category_path, :class => 'primary-inner' %></button>
 </div>
