<%= render :partial => 'partials/header', locals: { screen_name: 'Add Category' } %>
<%= render :partial => 'partials/notification' %>
<%= link_to user_categories_path do %>
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
<% end %>

<div class="signup">
  <div class='inner-box'>
  <h2>Let's add a new category</h2>

  <%= form_with model: @category, url: user_categories_path, multipart: true do |form| %>
    <div class="field">
    <%= form.label :title, "Category name" %>
    <%= form.text_field :name, placeholder: "Name", required: true, :class => 'input' %>
  </div>

  <div class="field">
  <%= form.label :title, "Add Icon" %>
  <%= form.file_field :icon, placeholder: "Add file", required: true, :class => 'input' %>
</div>

<div class="field">
  <%= form.submit "Save", class: "btn btn-primary", disable_with: "Please wait..." %>
</div>
  <% end %>
  </div>

</div>




